.wh-item {
  width: 300px;
  border: 1px solid #333;
  border-radius: 3px;
  padding: 10px 20px;
  margin: 0 auto 15px;

  div {
    margin-bottom: 10px;

    &:last-of-type {
      margin: 0;
    }

    &.code {
      font-weight: bold;
      font-size: 20px;
    }
  }
}
