.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.text-center {
  text-align: center
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mr-15 {
  margin-right: 15px;
}

.bold {
  font-weight: bold;
}
